body,
html {
    overflow-x: hidden;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins, sans-serif;
}
.header-area,
h1,
h2,
h3,
h3.common-title,
h4,
h5,
h6 {
    text-transform: capitalize;
}
.animated-hover a::after,
.nav-link.active::after {
    position: absolute;
    height: 2px;
    display: block;
    content: "";    bottom: 7px !important;

}
.header-area,
.menu_fixed {
    background: var(--background);
    z-index: 9999;
}
.left-side img,
img {
    vertical-align: middle;
}
.experience,
.portfolio-menu,
.profile-photo {
    text-align: center;
}
#testimonial .gap,
.personal-info ul li {
    padding-bottom: 10px;
}
.button,
.theme-switcher-label input {
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #8535d5;
}
body[data-theme="light"] {
    --color: #000;
    --bar: #fff;
    --background: #fff;
    --background-1: #f1f2f6;
    --background-2: #f1f2f6;
    --color-heading: #0f172a;
    --body-color: #3c3e41;
    --btn-background: #fff;
    --progress-back: #fff;
    --slider-left-back: #fff;
    --menu-shadow: 0 0 10px rgb(0 0 0 / 20%);
    --shadow: 0 0 10px rgb(0 0 0 / 20%);
}
body[data-theme="dark"] {
    --color: #fff;
    --bar: #000;
    --background: #10101a;
    --background-1: #0b0b13;
    --background-2: #141421;
    --btn-background: #000;
    --body-color: #a9afc3;
    --color-heading: #fff;
    --progress-back: #141421;
    --slider-left-back: #141421;
    --menu-shadow: 0 0 10px rgb(0 0 0 / 50%);
    --shadow: 0 0 10px rgb(0 0 0 / 0%);
}
body {
    background: var(--background);
    line-height: 28px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 120%;
    font-weight: 500;
    margin: 0 0 15px;
}
p {
    font-weight: 500;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
svg {
    fill: currentColor;
}
h3.common-title {
    position: relative;
    margin-bottom: 15px;
    font-size: 65px;
    line-height: 1.2;
    color: var(--main-color);
    font-weight: 700;
}
h3.common-title span {
    padding-right: 10px;
    color: var(--color-heading);
}
.section-padding {
    padding: 100px 0;
}
.section-title {
    margin-bottom: 30px;
}
.section-title .common-description {
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.7;
    color: var(--body-color);
    text-transform: capitalize;
}
ul li {
    list-style: none;
    display: inline-block;
}
.feature,
.mb-100,
.personal-details,
.personal-experience-inner {
    margin-bottom: 100px;
}
.pl-35 {
    padding-left: 35px;
}
.header-area {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 10px 0;
}
.header-area .logo a {
    font-size: 22px;
}
.header-area a {
    color: var(--body-color) !important;
    font-size: 16px;
    font-weight: 600;
    z-index: 10;
    position: relative;
}
.animated-hover a::after {
    background: none;
    bottom: 0;
    background: var(--main-color);
    transition: width 0.3s, left 0.3s;
    width: 0;
}
.animated-hover a:hover:after {
    width: 80%;
    left: 8px;
}
.logo img {
    width: 100%;
}
.button-about:hover span,
.button-about:hover  i,
.button-hire:hover span,
.button-send:hover span,
.logo svg,
.modal-head button i,
.msg-btn:hover span,
.navbar-toggler svg,
.offcanvas-header button i,
.offcanvas-header svg,
button.clickbtn.mixitup-control-active {
    color: var(--color);
}
#offcanvasExample .nav-link.active::after {
    display: none;
}
.introduction p,
.personal-info h4,
.personal-info h6,
.subtitle {
    color: var(--body-color);
}
.navbar-brand img {
    width: auto;
    height: 106px;
}
.nav-link.active::after {
    width: 78%;
    background: var(--main-color);
}
.about-area,
.animated-bar,
.button,
.button-about span,
.button-hire span,
.button-send span,
.clickbtn span,
.feature-box,
.learn-more,
.left-side,
.personal-info ul li,
.relative,
.relative img,
.resume-single-list,
.slider-area {
    position: relative;
}
.header-area a:hover,
.nav-link.active {
    color: var(--main-color) !important;
}
li.nav-item {
    padding-right: 10px;
}
.popup-mobile-menu {
    background: var(--background);
    transition: 0.5s ease-out;
}
.navbar-light .navbar-toggler {
    border: none;
    box-shadow: none;
}
.btn-close:focus {
    box-shadow: none;
}
.offcanvas-header button {
    background: 0 0;
    border: none;
}
.menu_fixed {
    width: 100%;
    box-shadow: var(--menu-shadow);
    transition: 0.3s;
}
.slider-area {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--background);
}
.subtitle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 20px;
    display: block;
}
.flex ul li a,
.title {
    color: var(--color-heading);
}
.title {
    font-weight: 600;
    font-size: 56px;
    line-height: 75px;
    margin-bottom: 22px;
}
.left-side {
    z-index: 2;
    background: var(--slider-left-back);
    box-shadow: var(--shadow);
    margin-top: 21px;
}
.left-side img {
    width: 100%;
    height: auto;
    transition: 0.4s;
}
.right-side-pd-left {
    padding-left: 60px;
}
.introduction {
    margin-top: 76px;
    margin-bottom: 36px;
}
.introduction p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    opacity: 0.9;
}
.content-title h4:hover a,
.introduction .a,
.introduction .john {
    color: var(--main-color);
}
.typed-cursor {
    font-weight: 300;
}
.contact-info-another .contact-option,
.flex,
.personal-info .a-count {
    display: flex;
    align-items: center;
}
.flex ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 25px;
}
.flex ul li {
    margin-right: 10px;
}
.flex ul li a {
    font-size: 19px;
}
.button-about {
    padding: 12px 40px !important;
    text-transform: capitalize;
    border-radius: 4px;
    font-size: 17px;
    overflow: hidden;
}
.button-about::before,
.button-hire::before,
.button-send::before,
.msg-btn::before {
    content: "";
    width: 123%;
    left: -10%;
    background: var(--main-color);
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.animated-bar:after,
.animated-bar:before {
    background-color: var(--bar);
    position: absolute;
    width: 10px;
    animation: 10s linear infinite heading-move;
    top: 0;
    height: 100%;
    content: "";
}
.button-about:hover::before,
.button-hire:hover::before,
.button-send:hover::before,
.clickbtn:hover::before,
.msg-btn:hover::before {
    transform: translate3d(100%, 0, 0);
}
.button {
    color: #fff !important;
    pointer-events: auto;
    border: 0;
    padding: 10px 40px;
    display: inline-block;
}
.button::after,
.button::before,
.clickbtn::after,
.clickbtn::before {
    position: absolute;
    top: 0;
    height: 100%;
}
.animated-bar {
    background-color: var(--main-color);
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 120px;
    border-radius: 4px;
}
.about-area,
span.bullet {
    background: var(--background-1);
}
.animated-bar:before {
    left: 21px;
}
.animated-bar:after {
    left: 0;
}
.bar .progress-line span,
.feature-box:after,
.material-scrolltop.reveal:hover,
.resume-single-list:before,
.resume-single-list:hover,
.slick-dots li button {
    background: var(--main-color);
}
@keyframes heading-move {
    0%,
    100% {
        transform: translateX(-1px);
    }
    50% {
        transform: translateX(90px);
    }
}
.relative img {
    width: 100%;
    border-radius: 125px 0 0;
    z-index: 10;
}
.relative:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 7px solid var(--main-color);
    border-radius: 125px 0 0;
    transform: translate3d(26px, 26px, -26px);
}
.personal-info h4 {
    font-size: 24px;
    margin: 0;
}
.personal-info h6 {
    font-weight: 600;
    text-transform: inherit;
}
.button-hire,
.maintitle,
.personal-info ul li span,
.resume-single-list h4,
.resume-single-list span,
.single-counter h4 {
    text-transform: capitalize;
}
.personal-info .list-1,
.personal-info .list-2 {
    margin-top: 17px;
    padding: 0;
}
.personal-info ul li:last-child {
    padding-bottom: 0;
}
.personal-info ul li span {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 500;
    padding-right: 20px;
    opacity: 0.8;
}
.experience {
    margin-top: 30px;
}
.experience h4 {
    font-size: 43px;
    color: rgb(255 255 255);
    opacity: 1;
    line-height: 1;
    font-weight: 500;
}
.experience span {
    font-size: 18px;
    font-weight: 500;
    color: var(--color);
}
.maintitle,
.personal-info .a-count span,
.resume-single-list h4 {
    color: var(--color-heading);
    font-weight: 600;
}
.button-hire {
    padding: 12px 64px !important;
    border-radius: 4px;
    font-size: 17px;
    overflow: hidden;
}
.personal-info .a-count span {
    font-size: 52px;
    line-height: 1;
}
.personal-info .a-count .a-count-text {
    padding-left: 12px;
    line-height: 1.4;
}
.maintitle {
    margin: 30px 0;
    font-size: 29px;
}
.col {
    padding-right: 15px;
    padding-left: 15px;
}
span.bullet {
    position: absolute;
    left: -20px;
    top: 0;
    height: 16px;
    width: 16px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
}
.resume-single-list,
.skill-bars {
    box-shadow: var(--shadow);
    border-radius: 5px;
}
.resume-single-list {
    padding: 45px 40px;
    margin-bottom: 30px;
    background: var(--background-2);
    text-align: center;
    transition: 0.4s;
    z-index: 99;
}
.resume-single-list:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    top: 0;
    left: -13px;
}
.clickbtn:hover span,
.counter .section-title,
.feature-box:hover .learn-more,
.material-scrolltop.reveal:hover i,
.resume-single-list:hover .description,
.resume-single-list:hover h3,
.resume-single-list:hover h4 {
    color: #fff;
}
.resume-single-list .title {
    margin-bottom: 15px;
}
.skill-bars .bar,
.sub-heading {
    margin: 20px 0;
}
.sub-heading {
    font-size: 17px;
    font-weight: 600;
    color: var(--body-color);
}
.resume-single-list h4 {
    font-size: 22px;
    line-height: 39px;
    margin-bottom: 7px;
    transition: 0.4s;
}
.feature-box .icon,
.feature-box h4,
.feature-box p {
    transition: 0.5s ease-in-out;
}
.resume-single-list span {
    font-size: 15px;
    display: block;
    color: #7c838e;
}
.learn-more,
.learn-more span,
.single-counter h4,
.slick-dots li {
    display: inline-block;
}
.resume-single-list .inner p {
    color: var(--body-color);
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    transition: 0.4s;
}
.personal-skills-inner {
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--background);
}
.code-skill-bars,
.skill-bars {
    width: 700px;
    background: var(--progress-back);
    max-width: 100%;
}
.skill-bars {
    padding: 15px;
}
.portfolio-menu button,
.skill-bars .bar .info {
    margin-bottom: 10px;
}
.skill-bars .bar .info span {
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    color: var(--color-heading);
}
.skill-bars .bar .progress-line {
    height: 6px;
    width: 100%;
    background: #e7e5f1;
    position: relative;
    border-radius: 4px;
}
.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
}
.progress-line span:before {
    position: absolute;
    content: "";
    top: -10px;
    height: 0;
    right: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #e7e5f1;
}
.progress-line span::after {
    position: absolute;
    content: "";
    top: -38px;
    right: 0;
    font-weight: 500;
    background: #e7e5f1;
    color: #000;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
}
.progress-line.design span::after,
.progress-line.jquery span::after,
.progress-line.photoshop span::after {
    content: "70%";
}
.progress-line.figma span::after,
.progress-line.html span::after {
    content: "90%";
}
.progress-line.adobe-xd span::after {
    content: "75%";
}
.progress-line.adobe-illustration span::after,
.progress-line.bootstrap span::after {
    content: "82%";
}
.progress-line.design span,
.progress-line.jquery span,
.progress-line.photoshop span {
    width: 70%;
}
.progress-line.figma span,
.progress-line.html span {
    width: 90%;
}
.progress-line.adobe-xd span {
    width: 75%;
}
.progress-line.adobe-illustration span,
.progress-line.bootstrap span {
    width: 82%;
}
.code-skill-bars {
    box-shadow: var(--shadow-1);
    border-radius: 10px;
}
.progress-line.css span::after {
    content: "85%";
}
.progress-line.sass span::after {
    content: "80%";
}
.progress-line.css span {
    width: 85%;
}
.progress-line.sass span {
    width: 80%;
}
.my {
    margin: 12px 0;
}
.px {
    padding: 0 10px;
}
.blog-area,
.services-area {
    background: var(--background-1);
}
.feature-box,
.single-counter,
.testimonial-item {
    background: var(--background-2);
    box-shadow: var(--shadow);
    text-align: center;
}
.feature-box {
    border-radius: 5px;
    transition: 0.5s;
    padding: 15% 12%;
    z-index: 1;
}
.feature-box a.over-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.learn-more span,
.learn-more span:after,
.learn-more span:before {
    height: 2px;
    background: var(--body-color);
}
.feature-box .icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 50px;
    color: var(--main-color);
    margin: 0 auto;
}
.feature-content {
    margin-top: 10px;
}
.feature-box h4 {
    font-size: 22px;
    color: var(--color-heading);
    font-weight: 600;
}
.feature-box p {
    font-size: 16px;
    color: var(--body-color);
    margin: 0;
}
.feature-box:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    transition: 0.5s;
    opacity: 1;
    z-index: -1;
    border-radius: 5px;
}
.testimonial-item::after,
.testimonial-item::before {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    content: "";
}
.feature-box:hover:after {
    height: 100%;
    bottom: auto;
    top: 0;
    transition: 0.5s;
}
.feature-box:hover .icon,
.feature-box:hover h4,
.feature-box:hover p {
    color: #fff;
    transition: 0.5s;
}
.learn-more,
.quotebox .icon i,
.single-blog p,
.single-counter p,
.testimonial-item p,
.text-content p {
    color: var(--body-color);
}
.learn-more {
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 12px;
}
.learn-more span {
    width: 10px;
    top: 51%;
    position: absolute;
    margin-left: 11px;
    transition: 0.3s;
}
.blog-img img,
.mix img {
    transition: 1s cubic-bezier(0, 0, 0.1, 1);
}
.feature-box:hover .learn-more span {
    width: 30px;
    background: #fff;
}
.learn-more span:before {
    content: "";
    width: 6px;
    transform: rotate(45deg);
    top: -2px;
    position: absolute;
    border-radius: 50px;
    transition: 0.3s;
    right: 0;
}
.learn-more span:after {
    position: absolute;
    content: "";
    width: 6px;
    border-radius: 50px;
    right: 0;
    bottom: -2px;
    transform: rotate(-45deg);
    transition: 0.3s;
}
.feature-box:hover .learn-more span::after,
.feature-box:hover .learn-more span::before {
    background: #fff;
}
#testimonial .gap {
    padding-top: 40px;
}
.testimonial-item {
    padding: 30px;
    position: relative;
    border-radius: 5px;
}
.testimonial-item::before {
    border-top: 100px solid var(--main-color);
    border-right: 100px solid transparent;
}
.testimonial-item::after {
    border-top: 70px solid var(--background-2);
    border-right: 70px solid transparent;
}
.testimonial-name {
 text-align: left;
 padding-left: 30px;
 color: var(--body-color);
 font-weight: bolder;
}
.testimonial-item .quote {
    position: absolute;
    z-index: 1;
    color: var(--main-color);
    line-height: 1.5;
    font-size: 50px;
    top: -48px;
    left: 148px;
}
.testimonial-item .rating {
    unicode-bidi: bidi-override;
    color: var(--main-color);
    font-size: 4px;
    width: 100%;
    margin: 0 auto;
}
.single-counter {
    border-radius: 10px;
    padding: 20px;
}
#exampleModal,
.clickbtn::before,
.contact-area,
.portfolio-area {
    background: var(--background);
}
.single-counter:nth-child(2) {
    padding-right: 0;
}
.single-counter h4 {
    position: relative;
    font-size: 39px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--color-heading);
}
.single-counter h4:after {
    position: absolute;
    content: "+";
    right: -25px;
    font-size: 33px;
    top: 2px;
}
.slick-dots li {
    margin: 0 5px;
}
.slick-dots {
    text-align: center;
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
}
.slick-dots li button {
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-indent: -999999px;
}
button.active-click,
button.clickbtn {
    border-radius: 4px;
    background: var(--main-color);
    pointer-events: auto;
    padding: 10px;
    font-size: 15px;
    margin-right: 10px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    overflow: hidden;
}
.slick-dots li.slick-active button {
    background: #ddd !important;
}
.cnform-group,
nav.controls {
    margin-bottom: 20px;
}
button.active-click {
    color: #fff;
    border: 2px solid var(--main-color);
}
button.clickbtn {
    color: var(--color);
    border: 2px solid var(--main-color);
}
.clickbtn::before {
    content: "";
    color: var(--hover-color);
    width: 120%;
    left: -10%;
    transform: skew(22deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.mix .info,
.mixitup-control-active,
.social-icons a:hover {
    background: var(--main-color);
}
.mixitup-control-active {
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    pointer-events: auto;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 4px;
    color: #fff !important;
    border: 2px solid var(--main-color);
    font-size: 15px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.content-title h4 a,
.footer,
.text-content h3 {
    color: var(--color-heading);
}
.mix {
    margin: 0 0 20px;
    padding: 0 10px;
    text-align: center;
    border-radius: 5px;
}
.portfolio-image {
    position: relative;
    border-radius: 5px;
}
.mix .info {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    transition: 0.8s;
}
.mix .info i {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 25px;
    color: #fff;
    transform: translate(-50%, -30%);
}
.mix .info p {
    position: absolute;
    bottom: 0;
    padding: 0 10px;
    line-height: 1.4;
    color: #fff;
}
.mix .info .title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 5px;
    color: #fff;
    bottom: 65px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}
.mix:hover .info {
    opacity: 0.7;
}
ul.container {
    list-style-type: none;
    margin: 0;
}
.mix img {
    width: 100%;
}
.fancybox-image,
.fancybox-spaceball {
    border-radius: 10px;
}
.single-blog {
    background: var(--background-2);
    box-shadow: var(--shadow);
    border-radius: 5px;
}
.blog-img {
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0;
    border-bottom: 8px solid var(--main-color);
}
.blog-img img {
    width: 100%;
    filter: grayscale(0);
}
.content-body {
    padding: 10px 30px;
}
.content-title h4 a {
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 16px;
    transition: 0.5s;
    text-transform: capitalize;
}
.innerr .blog-img img:hover {
    transform: scale(1.1);
    filter: grayscale(100%);
}
#exampleModal {
    z-index: 99999;
}
.modal .modal-dialog .modal-content .modal-header {
    padding: 0;
    border: none;
}
.modal .modal-dialog .modal-content .modal-header .btn-close {
    padding: 0;
}
.modal .modal-custom {
    max-width: 800px !important;
}
.modal-head button {
    background: 0 0;
    border: none;
    float: right;
}
.text-content h3 {
    padding-top: 30px;
}
.modal-content-custom {
    padding: 44px !important;
    border: none !important;
    background-color: var(--background-1);
    box-shadow: var(--shadow-3);
}
.quotebox {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    padding-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.quotebox .icon {
    position: absolute;
    left: 0;
    top: 5px;
}
.icon i {
    font-size: 50px;
}
.quotebox p {
    font-size: 20px;
    font-style: italic;
}
.comment-section textarea,
.modal-body .comment-section .cnform-group input {
    font-size: 14px;
    color: var(--color);
    outline: 0;
    background: var(--background);
    width: 100%;
}
.modal-body .comment-section .cnform-group input {
    border-radius: 6px;
    height: 55px;
    border: none;
    padding: 0 15px;
    box-shadow: none;
}
.comment-section textarea {
    height: 206px;
    border: none;
    padding: 15px;
    border-radius: 6px;
}
.comment-section h3 {
    margin: 40px 0;
}
.cn-btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.button-send {
    padding: 12px 40px !important;
    text-transform: capitalize;
    border-radius: 4px;
    font-size: 17px;
    overflow: hidden;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons a {
    margin: 0 10px;
    font-size: 32px;
    color: var(--color);
}
.social-icons i {
    font-size: 25px;
}
.social-icons li a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 6px;
    background: var(--background);
    box-shadow: var(--shadow-3);
    transition: 0.5s;
}
.social-icons a:hover {
    color: #fff;
}
.contact-area .contact-text {
    margin-bottom: 40px;
}
.contact-area .contact-text p {
    max-width: 675px;
    margin: 0 auto;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    color: var(--body-color);
    display: block;
}
.contact-info input {
    width: 100%;
    margin-bottom: 25px;
    height: 50px;
}
.contact-info textarea {
    min-height: 225px;
    width: 100%;
    margin-bottom: 25px;
}
.contact-info input,
textarea {
    color: var(--body-color);
    border: 1px solid #a9afc3;
    border-radius: 4px;
    padding: 10px;
    outline: 0;
    background: var(--background);
}
.msg-btn span {
    position: relative;
    font-size: 17px;
}
.msg-btn {
    text-transform: capitalize;
    border-radius: 4px;
    overflow: hidden;
    background: no-repeat;
}
.msg-btn:hover {
    background: var(--background) !important;
}
.contact-info-another p {
    color: var(--body-color);
    font-weight: 500;
    font-size: 16px;
}
.contact-info-another h4 {
    color: var(--color);
    font-size: 21px;
    font-weight: 600;
}
.mt-20 {
    margin-top: 20px;
}
.icon-style {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 25px;
    background: var(--main-color);
}
.icon-style i {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}
.map-area {
    margin-top: 100px;
    overflow: hidden;
}
.map iframe {
    width: 100%;
    border-radius: 5px;
}
.footer {
    background: var(--background-1);
    opacity: 0.9;
    padding: 58px 0;
    line-height: 1.6;
}
.footer .description {
    font-size: 16px;
    margin: 0;
}
.footer .description a {
    text-transform: capitalize;
    color: var(--color);
}
.footer .description-1 {
    float: right;
}
.footer .description-1 a {
    text-decoration: underline;
    color: var(--main-color);
    font-weight: 700;
}
.material-scrolltop.reveal {
    width: 50px;
    height: 50px;
    box-shadow: var(--shadow);
    background: var(--btn-background);
    z-index: 99;
}
.material-scrolltop.reveal i {
    font-size: 20px;
    color: var(--color);
}
.theme-switcher-label {
    align-items: center;
    border-left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 78px;
    top: 145px;
    transform: translateY(-30%);
    transition: 0.3s;
    z-index: 9999;
}
.theme-switcher-label:hover {
    background: var(--theme-icon-hover);
}
.theme-switcher-label .switch-handle {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    transition: 0.3s ease-in-out;
}
.theme-switcher-label .switch-handle i {
    background-color: var(--btn-background);
    box-shadow: var(--shadow);
    font-size: 23px;
    left: -54px;
    position: absolute;
    top: -14px;
    transition: 0.3s;
    color: var(--color);
    height: 50px;
    width: 50px;
    padding-top: 13px;
    text-align: center;
    border-radius: 4px;
}
.theme-switcher-label .theme-switcher {
    display: none;
}
.theme-switcher-label .light-text {
    color: #000;
}
.theme-switcher-label .dark-text {
    color: #666;
    opacity: 0;
    visibility: hidden;
}
.theme-switcher-label.active {
    background-color: #eee;
}
.theme-switcher-label.active .light-text {
    opacity: 0;
    visibility: hidden;
}
.theme-switcher-label.active .dark-text {
    opacity: 1;
    visibility: visible;
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 999999;
    display: flex;
}
#preloader:after,
#preloader:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    transition: 0.3s;
}
#preloader:after {
    left: auto;
    right: 0;
}
#preloader .loader_line {
    margin: auto;
    width: 1px;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
}
.loader_line:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    transform: translateY(-50%);
    background-color: #fff;
    animation: 1s ease-in-out forwards lineheight;
}
.loader_line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #bbb;
    transform: translateY(-100%);
    animation: 1.2s linear 2s infinite lineround;
}
@keyframes lineheight {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
@keyframes lineround {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(200%);
    }
}
.preloaded .loader_line:after {
    opacity: 0;
}
.preloaded .loader_line {
    opacity: 0;
    height: 100% !important;
}
.preloaded:after,
.preloaded:before {
    animation: 0.3s ease-in-out 0.5s forwards preloadedzero;
}
@keyframes preloadedzero {
    0% {
        width: 50%;
    }
    100% {
        width: 0%;
    }
}




/*  */
.whatsapp-icon {
    position: fixed;
    bottom: 23px;
    width: 50px;
    LEFT: 23px;
    height: 50px;
    z-index: 100;
    margin: 0;
    border: 0;
    background-color: var(--main-color);
    font-size: 20px;
    border-radius: 4px;
}.whatsapp-icon i {
    color: white;
}
.mb-6 {
    margin-bottom: 60px;
}